.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sign-out {
  background: inherit;
  border: none;
  padding: 12px;
  cursor: pointer;
  color: #fff;
  font-size: medium;
  font-weight: bold;
  transition: 0.1s all ease-in-out;
}
.sign-out:hover {
  color: gold;
  opacity: 0.7;
}
