.inputContainer {
  max-width: 600px;
  display: flex;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  padding: 12px;
}
.inputError {
  font-size: 12px;
  font-weight: 500;
  color: red;
  text-align: center;
}

.submit {
  padding: 16px;
  border: none;
  transition: 0.2s all ease-in-out;
  background-color: blue;
  color: white;
  font-weight: 600;
}

.submit:hover {
  @media(min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.submit:active {
    padding-left: 24px;
    padding-right: 24px;
}

.submit-disabled {
  opacity: 0.5;
}

