.heading {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

    span {
        color: gold;
    }
}

.ranking-details {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
